/* 
    Document   : estilos
    Created on : 30/03/2016, 10:49:01 AM
    Author     : alumno
    Description:
        Purpose of the stylesheet follows.
*/


body{

    background-color :#3366ff;
}

.menu { 
   margin-left: 500px;
margin-top:60px;
    width: 580px;
       font-family: "Cocogoose";
    font-size : 25px;
    border : 5px solid;
    border-left: none;
    border-right: none;
    text-align: center;
    
}

.contenido{
    margin-left: 180px;
    padding: 10px;
  font-family: "Cocogoose";
    font-size : 15px;
    margin : 0 auto;
    border : 5px solid;
    border-left: none;
    border-right: none;
    margin-top:200px;

}

.listaMenu{
    list-style: none;
    width: 650px;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    font-family: "Cocogoose";
    font-size : 15px;
    
}
.titulo{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}
.listaMenu li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0 10px;
 
}
.listaMenu li a:hover{
    color: yellow;
}

.tablaFRM{
    width: 450px;
    margin: 0 auto;
    border: 1px solid #cab174;
    background: #faf2dd;    
  
}
.tablaFRM tr:nth-child(1) td{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 8px;
}
.tablaFRM td:nth-child(1){
    text-align: right;
}
.tablaFRM td{
    padding: 5px;
}

.tablaFRM input[type="text"],
.tablaFRM input[type="password"]{
    border-radius: 5px;
    padding: 4px;
}
.tablaFRM select option{
    padding: 5px;
}
.tablaFRM input[type="submit"]{
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    background: #abe0b4;
    transition: background 0.8s;
}
.tablaFRM input[type="submit"]:hover{
    background: #97c5a9;
}

.tablaDatos{
    width: 950px;
    margin: 0 auto;
    border: 1px solid #cab174;
    background: #faf2dd;
    border-collapse: collapse;
        font-family: "Cocogoose";
     
    
}
.tablaDatos tr:nth-child(1) td{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 8px;
      font-family: "Cocogoose";
}
.tablaDatos td, th{
    padding: 3px 0;
    border-bottom: 1px solid #cab174;
      font-family: "Cocogoose";
}

.listaD{
    
    width: 650px;
    margin: 0 auto;
    padding: 0;
    margin-top:70px;
  background: #faf2dd;
    font-family: "Cocogoose";
    font-size : 15px;
     
}
.tablaC{
    width: 650px;
    margin: 0 auto;
       background: #faf2dd;

    
}

.listaD input[type="submit"]{
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    background: #abe0b4;
    transition: background 0.8s;
        margin : 0 auto;
}
.listaD  input[type="submit"]:hover{
    background: #97c5a9;
}

.listaD input[type="button"]{
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    background: #abe0b4;
    transition: background 0.8s;
    margin : 0 auto;
}
.listaD  input[type="button"]:hover{
    background: #97c5a9;
}

.tablaDatos input[type="submit"]{
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
    background: #abe0b4;
    transition: background 0.8s;
    margin : 0 auto;
}
.tablaDatos  input[type="submit"]:hover{
    background: #97c5a9;
}

.tablaListarD{
    width: 550px;
    margin: 0 auto;
   background: #faf2dd;
    border-collapse: collapse;
        font-family: "Cocogoose";
      
        float:left;
    
}
.listaDd{
    
    width: 650px;
    margin: 0 auto;
    padding: 0;
    margin-top: 70px;
    font-family: "Cocogoose";
    font-size : 15px;
    float:left;
    
}

.tablaEnt{
    width: 750px;
    margin: 0 auto;
    border: 1px solid #cab174;
    background: #faf2dd;
    border-collapse: collapse;
        font-family: "Cocogoose";
        margin-top : 100px;
    
}